# ignore everything by default
**

# allow js files
!*.json
!*.yaml
!*.js
!*.ts

# allow project source code
!backend/
!app/
!public/

# allow a specific source tarball, introduced in GH#13.
!penumbra-zone-ui-tailwind-0.1.0.tgz
