<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <link href="/static/index.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
  <div class="info-table">
    <h1>supply</h1>
    <table>
    <tbody>
    <tr>
      <th>total</th>
      <th class="text-right">{{ supply.total }}</th>
    </tr>
    <tr>
      <th>staked</th>
      <th class="text-right">{{ supply.staked }}</th>
    </tr>
    <tr>
      <th>unstaked</th>
      <th class="text-right">{{ supply.unstaked }}</th>
    </tr>
    <tr>
      <th>auction</th>
      <th class="text-right">{{ supply.auction }}</th>
    </tr>
    <tr>
      <th>dex</th>
      <th class="text-right">{{ supply.dex }}</th>
    </tr>
    </tbody>
    </table>
  </div>
  <div class="info-table">
    <h1>unique depositors</h1>
    <table>
    <tbody>
    <tr>
      <th>total</th>
      <th class="text-right">{{ depositors.total }}</th>
    </tr>
    </tbody>
    </table>
  </div>
  <div class="info-table">
    <h1>deposits</h1>
    <table>
    <thead>
      <th>asset</th>
      <th>current</th>
      <th>cumulative</th>
    </thead>
    <tbody>
    {% for deposit in asset_deposits.deposits %}
    <tr>
      <th>{{ deposit.asset }}</th>
      <th class="text-right">{{ deposit.current }}</th>
      <th class="text-right">{{ deposit.cumulative }}</th>
    </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
</div>
</body>
</html>
