<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <link href="/static/index.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
  <div class="info-table">
    <h1>supply</h1>
    <table>
    <tbody>
    <tr>
      <th>total</th>
      <th>{{ supply.total }}</th>
    </tr>
    <tr>
      <th>staked</th>
      <th>{{ supply.staked }}</th>
    </tr>
    <tr>
      <th>unstaked</th>
      <th>{{ supply.unstaked }}</th>
    </tr>
    <tr>
      <th>auction</th>
      <th>{{ supply.auction }}</th>
    </tr>
    <tr>
      <th>dex</th>
      <th>{{ supply.dex }}</th>
    </tr>
    </tbody>
    </table>
  </div>
</div>
</body>
</html>
